body {
	background-color: white;
}

input{
	background-color: orange;
}

#output {
	color:green;
	padding-left: 50px;
	padding-top: 10px;
	min-width: 0px;
	min-height: 0px;
}

#drop_zone {
	background-color: grey;
	color:white;
	min-width: 100px;
	min-height: 100px;
	padding: 5px;
}

/*Unrelated to core code; allows uniform-sized image previews*/  
img.boxed {
	display: block;
	max-width:230px;
	max-height:95px;
	width: auto;
	height: auto;
}